---
import { Image } from "astro:assets";
import { allArtworks, type Artwork } from "@/lib/artworks";
import "@/styles/global.css";

export function getStaticPaths() {
  return allArtworks.map((artwork) => ({
    params: {
      year: artwork.year,
      piece: artwork.slug,
    },
    props: { artwork },
  }));
}

const { artwork } = Astro.props as { artwork: Artwork };

const title = artwork.name;

const pageUrl = new URL(Astro.url.pathname, Astro.site).href;

const imageUrl = new URL(artwork.metadata.src, Astro.site).href;

const currentIndex = allArtworks.findIndex(
  (art) => art.slug === artwork.slug && art.year === artwork.year,
);
const previousArtwork = allArtworks[currentIndex - 1];
const nextArtwork = allArtworks[currentIndex + 1];

const oEmbedUrl = new URL("/api/oembed.json", Astro.site).href
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>{title} — {artwork.year} | IntoEkinZone</title>
    <link 
      rel="preload" 
      href="/fonts/Oswald-VariableFont_wght.ttf" 
      as="font" 
      type="font/ttf" 
      crossorigin="anonymous" 
    />

    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:description" content={`Artwork from ${artwork.year}`} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content={imageUrl} />

    <link type="application/json+oembed" href={oEmbedUrl} />
  </head>

  <body class="p-8 bg-gray-900 text-white flex flex-col items-center">
    <div class="w-full max-w-4xl">
      <div class="mb-4 text-center">
        <a class="text-1xl hover:underline" href={`/${artwork.year}`}
          >&larr; Back to {artwork.year}</a
        >
         | 
        <a class="text-1xl hover:underline" href="/">All Years</a>
      </div>

      <h1 class="text-4xl text-mustard font-bold mb-4 text-center">
        {title}
      </h1>

      <div class="mb-4">
        <Image
          src={artwork.metadata}
          alt={title}
          class="w-full h-auto rounded-lg shadow-lg"
        />
      </div>

      <div class="flex justify-between text-2xl font-bold">
        <div>
          {previousArtwork && (
            <a href={`/${previousArtwork.year}/${previousArtwork.slug}`} class="hover:underline">
              &larr; Previous
            </a>
          )}
        </div>
        <div>
          {nextArtwork && (
            <a href={`/${nextArtwork.year}/${nextArtwork.slug}`} class="hover:underline">
              Next &rarr;
            </a>
          )}
        </div>
      </div>
    </div>
  </body>
</html>